#question{
    text-align: center;
    max-width: 500px;
    background-color: #8435de;
    border-radius: 1rem;
    padding: 2rem;
}

#question h2, 
#question p {
    margin-bottom: 2rem;
}

#question p{
    margin-bottom: 1rem;
}

#question img{
    margin-top: 2rem;
}

#question button{
    border: 2px solid  white;
}