*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  color: white;
}

body, html{
  min-height: 100vh;
  height: 100%;
  background-color:  #1c1c1c;
}

img{
  max-width: 100%;
}

button{
  font-weight: bolder;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(90deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232)100%);
  border-radius: 3rem;
  border: none;
}

button:hover{
  background: linear-gradient(90deg,rgba(184, 84, 232)0%,  rgba(132, 53, 222, 1) 100%);
}

